@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    @apply bg-[#11233B] text-gray-100
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-reverse-spin {
  animation: reverse-spin 1s linear infinite;
}