@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-left;
  }
  ul {
    @apply list-disc;
  }
}

html.dark {
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-reverse-spin {
  animation: reverse-spin 1s linear infinite;
}